.wrapper{ max-width: 1200px; margin: 0 auto; }


.main-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(200px, 260px));
    grid-template-rows: repeat(6, 180px);
    grid-template-areas:
        "item1 item1 item1 item1"
        "item2 item3 item3 item3"
        "item2 item3 item3 item3"
        "item2 item3 item3 item3"
        "item2 item3 item3 item3"
        "item4 item4 item4 item4";

}


.header-grid{ grid-area: item1; }
.sidebar-grid{ grid-area: item2; }
.pages-grid{ grid-area: item3; }
.footer-grid{ grid-area: item4; }

.box-item{
    border: #1b1b1b 1px solid;
    border-radius: 20px;
    background-color: #e35f5f;
    display: flex;
    align-items: center;
    justify-content: center;
}
