
.item1{
    border: #1b1b1b 1px solid;
    border-radius: 20px;
    background-color: #e3a55f;
    margin-bottom: 10px;
    height: 50%

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.item2{
    border: #1b1b1b 1px solid;
    border-radius: 20px;
    background-color: #e38d5f;
    height: 50%
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

