
.main_grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, minmax(110px, 160px));
    grid-template-rows: repeat(5, 90px);
    grid-template-areas:
        "item1 item1 item1 item1 item1 item1"
        "item1 item1 item1 item1 item1 item1"
        "item2 item2 item2 item2 item2 item2"
        "item2 item2 item2 item2 item2 item2";
}

.header_grid{ grid-area: item1; }
.footer_grid{ grid-area: item2; }

.box_header{
    border: #1b1b1b 1px solid;
    border-radius: 10px;
    background-color: #e3d15f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.box_item{
    border: #1b1b1b 1px solid;
    border-radius: 10px;
    background-color: #e3d15f;
    display: flex;
    align-items: center;
    justify-content: center;
}


